@charset "utf-8";
/* CSS Document */
header{
	argin-left: auto;
	margin-right: auto;
	
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right:1em;
	letter-spacing: 0.05em;
	font-weight: bold;
	transition: all 0.3s linear;
}
.maintext{
	float: left;
	margin-right:1em;
	background:#D9DCF7
}
.top{
	height:4em;
	background:#4198F4;
	margin-right:0.5em;
	margin-left:0.5em;
	margin-top:-1em;
	}
.tabList{
float: left;
width:80%;
background:#B8E7CF
}
.sideList{
width:19%;
float: left;
background:#7362B9;
}
h1{
	font-size:14px	
}
nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	
}
nav ul{
list-style: none;
	float: right;	
}
ul li a {
	text-decoration: none;
}


